<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="auth-service"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"level":"%level","logger":"%logger{36}","thread":"%thread"}</pattern>
                </pattern>
                <mdc/>
                <message/>
                <arguments/>
                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                    <shortened>true</shortened>
                </stackTrace>
                <provider class="net.logstash.logback.composite.loggingevent.LoggerNameJsonProvider"/>
            </providers>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.learning.authservice" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>

