<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <property name="APP_NAME" value="gateway-service"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"level":"%level","logger":"%logger","thread":"%thread"}</pattern>
                </pattern>
                <mdc />
                <arguments />
                <jsonMessage />
                <provider class="net.logstash.logback.composite.GlobalCustomFieldsJsonProvider">
                    <customFields>{"service":"${APP_NAME}"}</customFields>
                </provider>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>

    <logger name="com.learning.gateway" level="DEBUG" additivity="false">
        <appender-ref ref="JSON" />
    </logger>
</configuration>

